/**
.idea/
.idea/**
.build/
.build/**
!/wp-content/
!.dev/
!.dev/**
!src/
!src/**
src/assets/
src/assets/**
src/assets/build/
src/assets/build/**

!/.gitignore
!build.properties
!/build.xml
!/composer.json
!/composer.lock
!/LICENSE
!/package.json
!/package-lock.json
!/README.md
!webpack.config.js