@keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

#loader-overlay {
    transition: .3s linear all;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #16181b;
    z-index: 800;
    height: 100%;
    width: 100%;
}

#loader {
    display: inline-block;
    width: 80px;
    height: 80px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    &:after {
        content: " ";
        display: block;
        width: 6.4rem;
        height: 6.4rem;
        margin: .8rem;
        border-radius: 50%;
        border: .6rem solid #fff;
        border-color: #fff transparent #fff transparent;
        animation: lds-dual-ring 1.2s linear infinite;
    }
}

body.loaded {
    #loader-overlay {
        opacity: 0;
    }
}